# Postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

# PDS
PDS_SERVICE_HANDLE_DOMAINS=.test.com
PDS_ADMIN_PASSWORD=
# echo "PDS_JWT_SECRET=$(openssl rand -hex 32)" >> .env
PDS_JWT_SECRET=
# echo "PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=$(openssl rand -hex 32)" >> .env
PDS_PLC_ROTATION_KEY_K256_PRIVATE_KEY_HEX=
