:80 {
    @plc host plc.aelitneg.xyz
    handle @plc {
        reverse_proxy plc:2582
    }

    @pds host pds.aelitneg.xyz
    handle @pds {
        reverse_proxy pds:3000
    }

    @api host api.aelitneg.xyz
    handle @api {
        reverse_proxy host.docker.internal:3000
    }

    @app host app.aelitneg.xyz
    handle @app {
        reverse_proxy host.docker.internal:8080
    }
}
