# Database (can also be injected by make backend-up)
DATABASE_URL=

# AT Protocol
PLC_URL=http://localhost:2582
PDS_URL=http://localhost:3000

# Server
PORT=4000

# echo "COOKIE_SECRET=$(openssl rand -hex 32)" >> .env
COOKIE_SECRET=
FRONTEND_URL=http://localhost:8080
